.container__header {
  display: flex;
  align-items: center;
  height: 9%;
  line-height: 1.18;
  border-bottom: 1px solid #dadfea;
  vertical-align: middle;
  font-size: 26px;
  padding-left: 2.2%;
  background-color: #eef1f7;
  color: #444c63;
}

.container__sort-bar {
  height: 5.5%;
  border-bottom: 1px solid #dadfea;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #eef1f7;
}

.container__sort-bar__sort-menu {
  padding: 0;
  width: 50%;

  li {
    display: inline-block;
    list-style-type: none;
    line-height: 2.17;
    text-align: left;
    color: #8c97b2;
    margin-left: 4%;
  }

  a {
    text-decoration: none;
    border-style: solid;
    border-width: 3px 10px;
    border-radius: 10px;
    border-color: #eef1f7;
    color: #8c97b2;
  }

  a:visited {
    text-decoration: none;
    color: #8c97b2;
  }

  a:hover {
    background-color: #98b4cf;
    color: white;
    border-color: #98b4cf;
  }
}

.container__sort-bar__input {
  width: 35%;
  height: 50%;
  margin-right: 2%;
  border: solid 1px rgba(140, 151, 178, 0.4);
  border-radius: 16px;
  outline: none;
  padding-left: 1.5%;
}

.container__content {
  margin: 0;
  padding: 2% 0 0 1%;
  height: 85%;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  justify-items: center;

  li {
    display: flex;
    flex-direction: column;
    list-style: none;
    float: left;
    margin: 4% 0 0 5%;
  }

  pre {
    height: 15%;
  }
}

.container__content__book-name {
  margin-top: 16px;
  color: #444c63;
  font-size: 16px;
}

.container__content__book-author {
  margin-top: 11px;
  color: #6f7d95;
  font-size: 12px;
}

.container__content__book-rate {
  display: flex;
  flex-direction: row;
  margin: 0 0 20px 0;
  padding: 0;

  li {
    list-style: none;
    color: #ffab00;
    margin-left: 1px;

    &:first-child {
      margin-left: 0;
    }
  }
}

@media (max-width: 1260px) {
  .container {
    width: 83%;
  }

  .container__content {
    grid-template-columns: repeat(4, 25%);
  }

  .container__sort-bar__input {
    width: 32%;
  }

  .container__sort-bar__sort-menu {
    width: 53%;

    li {
      margin-left: 2%;
    }
  }
}

@media (max-width: 1060px) {
  .container {
    width: 80%;
  }

  .container__content {
    grid-template-columns: repeat(3, 33%);
  }

  .container__sort-bar__input {
    width: 29%;
  }

  .container__sort-bar__sort-menu {
    width: 56%;

    li {
      margin-left: 0;
    }
  }
}

@media (max-width: 860px) {
  .container {
    width: 100%;
  }

  .container__content {
    grid-template-columns: repeat(2, 50%);
  }

  .container__sort-bar__input {
    width: 26%;
  }

  .container__sort-bar__sort-menu {
    width: 74%;
  }
}

@media (max-width: 715px) {
  .container {
    height: 100%;
  }

  .container__content {
    grid-template-columns: 100%;
  }

  .container__header {
    height: 5%;
  }

  .container__sort-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8%;
  }

  .container__sort-bar__input {
    width: 50%;
    height: 30%;
  }

  .container__sort-bar__sort-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
  }
}
