@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: local('../fonts/Proxima Nova Regular'), local('ProximaNova-Regular'),
  url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: white;
  font-family: Arial;
  font-size: 1vw;
  margin: 0;
  width: 1320px;
  height: 990px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f364a;
  height: 8vh;
}

/*@import 'main-header';*/

main {
  display: flex;
  width: 100%;
  height: 145vh;
  background-color: lightgrey;
}

.side-bar {
  display: flex;
  flex-direction: column;
  width: 16%;
  height: 100%;
  background-color: #121a2a;

  a {
    text-decoration: none;
    color: #61758c;
  }
}

/*@import 'side-bar';*/

.container {
  display: flex;
  width: 84%;
  background-color: white;
  flex-direction: column;
}

/*@import 'cont';*/

.main-footer {
  display: flex;
  justify-content: flex-end;
  height: 8vh;
  background-color: #181e2c;
}

/*@import 'main-footer';*/


