$marker-colors: (#e64c66, #ffab00, #00bfdd);

.main-header__markers {
  margin-left: 2%;
  width: 33%;

  @for $i from 1 through 3 {
    i:nth-child(#{$i}) {
      color: nth($marker-colors, $i);
    }
  }
}

.main-header__title {
  display: flex;
  width: 34%;
  justify-content: center;
  color: #79839e;

  i {
    margin-right: 2%;
  }
}

.main-header__info {
  color: #79839e;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 33%;
  height: 100%;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2% 0 0;
    height: 100%;
    list-style: none;
    width: 27%;
  }

  li:last-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    background-color: #0da5fa;
    color: white;
    width: 46%;

    img {
      border: 2px solid white;
      border-radius: 50%;
    }

    a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      &:visited {
        color: white;
      }
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #79839e;
    text-decoration: none;
    height: 100%;

    &:visited {
      color: #79839e;
    }
  }
}

@media (max-width: 1260px) {
  .main-header__markers {
    width: 31%;
  }

  .main-header__title {
    width: 32%;
  }

  .main-header__info {
    width: 35%;
  }
}

@media (max-width: 1060px) {
  .main-header__markers {
    width: 30%;
  }

  .main-header__title {
    width: 30%;
  }

  .main-header__info {
    width: 40%;
  }
}

@media (max-width: 860px) {
  .main-header__markers {
    width: 25%;
  }

  .main-header__title {
    width: 25%;
  }

  .main-header__info {
    width: 50%;
  }
}

@media (max-width: 660px) {
  .main-header__markers {
    width: 25%;
  }

  .main-header__title {
    width: 26%;
  }

  .main-header__info {
    width: 47%;
  }
}
